* {
  font-size: 100.01%; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  margin: 0;
  height: 100%;
  font: 1.3rem/1.61538 "Montserrat", sans-serif; }

p {
  font-family: "Source Sans Pro", sans-serif; }

.btn, a {
  -webkit-transition: color linear .4s, background-color linear .4s, border-color linear .4s;
  transition: color linear .4s, background-color linear .4s, border-color linear .4s; }
  .btn:hover, a:hover {
    text-decoration: none;
    outline: none; }

.btn-link {
  display: inline-block;
  vertical-align: top;
  background: #f4f4f4;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.3571428;
  padding: 7px 24px; }
  .btn-link:hover {
    background: #e0e0e0; }

#wrapper {
  width: 100%;
  height: 100%;
  display: table;
  overflow: hidden;
  table-layout: fixed; }

#footer {
  width: 100%;
  overflow: hidden;
  display: table-footer-group;
  height: 1%; }

.btn-blue {
  background: #3b5998;
  color: #fff; }
  .btn-blue:hover {
    color: #fff;
    background: #21396b; }

.logo {
  float: left;
  margin: 0 0 0 15px;
  width: 151px;
  height: 41px; }

.social-placeholder {
  padding: 9px 0 0;
  height: 35px; }
  .social-placeholder img {
    vertical-align: top;
    max-width: 100%;
    height: auto; }

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 31px 0 32px;
  background: transparent;
 
  -webkit-backface-visibility: hidden;
  /* Prevent Chrome bug because of on-scroll effect in other section */ }
  #header .btn {
    float: right;
    margin: 2px 0 0 59px;
    height: 38px;
    min-width: 145px;
    padding: 7px;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 22px;
    letter-spacing: 0; }

#nav {
  overflow: hidden;
  text-align: right;
  font-size: 0;
  letter-spacing: -4px;
  white-space: nowrap; }
  #nav .nav-drop {
    overflow: hidden; }
  #nav ul {
    padding: 9px 0 5px;
    margin: 0; }
  #nav li {
    display: inline-block;
    vertical-align: top;
    font-size: 1.6rem;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: 0;
    white-space: normal;
    margin: 0 0 0 34px; }
    #nav li a {
      display: block;
      color: #fff; }
      #nav li a:hover {
        text-decoration: none;
        color: #f9e084; }

.nav-opener {
  display: none;
  float: right;
  width: 31px;
  height: 31px;
  position: relative;
  text-indent: -9999px;
  overflow: hidden; }

.nav-opener:before, .nav-opener:after, .nav-opener span {
  background: #333;
  border-radius: 4px;
  position: absolute;
  top: 17px;
  left: 3px;
  right: 3px;
  height: 3px;
  margin-top: -2px;
  /* height/2 */
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.nav-opener:before {
  content: '';
  top: 8px;
  left: 30%; }

.nav-opener:after {
  content: '';
  top: 26px; }

.nav-active .nav-opener span {
  opacity: 0; }

.nav-opener:hover {
  opacity: .9; }

.nav-active .nav-opener:after, .nav-active .nav-opener:before {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 16px;
  left: 5%;
  right: 5%; }

.nav-active .nav-opener:after {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.visual {
  min-height: 800px;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: #ffffff;
  font-size: 0;
  letter-spacing: -4px;
  padding: 104px 0 0;
  background: transparent; }
  .visual .bg-stretch {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .visual > .container {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
    font-size: 2.4rem;
    line-height: 1.5;
    letter-spacing: 0; }
 
  .visual h1 {
    margin: 0 0 10px;
    font-size: 8.2rem;
    line-height: 1.12;
    font-weight: bold;
    color: #fff; }
  
  .typewriter h1 {
  	color: #fff;
  	font-family: monospace;
  	overflow: hidden; /* Ensures the content is not revealed until the animation */
  	border-right: .15em solid orange; /* The typwriter cursor */
  	white-space: nowrap; /* Keeps the content on a single line */
  	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  	letter-spacing: .10em; /* Adjust as needed */
  
  	animation: 
    	typing 3.5s steps(30, end),
    	blink-caret 1s step-end infinite;
  	display: inline-flex; }

/* The typing effect */
   @keyframes typing {
  	from { width: 0 }
  	to { width: 80% }
   }

/* The typewriter cursor effect */
   @keyframes blink-caret {
  	from, to { border-color: transparent }
  	50% { border-color: orange }
   }
		
   .visual p {
    margin: 0 0 8px; }
   .visual p.tagline {
    line-height: 1.1;
    font-size: 2.6rem; }
   .visual .info {
    display: block;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #f9e084;
    text-transform: uppercase; }
   .visual .text-block {
    padding: 220px 0; }

#cta {
  position: relative;
  z-index: 1;
  margin: -80px 0 55px;
  text-align: center;
  color: #848e97;
  font-size: 1.4rem;
  line-height: 1.28571428; }
  #cta .btn {
    margin: 0 0 16px;
    height: 62px;
    font-size: 2.1rem;
    line-height: 26px;
    font-weight: bold;
    padding: 17px;
    min-width: 390px; }
  #cta p {
    margin: 0 0 18px; }

.cta-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 0;
  letter-spacing: -4px;
  white-space: nowrap;
  color: #848e97; }
  .cta-list li {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    font-size: 1.4rem;
    line-height: 1.285;
    letter-spacing: 0;
    white-space: normal; }
  .cta-list .btn {
    position: relative;
    margin: 0 0 15px;
    height: 50px;
    line-height: 30px;
    padding: 10px 50px;
    min-width: 240px; }
    .cta-list .btn i {
      position: absolute;
      left: 24px;
      top: 50%;
      font-size: 2.4rem;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      .cta-list .btn i.fa-twitter {
        font-size: 2rem; }
      .cta-list .btn i.fa-facebook {
        font-size: 1.6rem; }

.cta-footer {
 	margin-top: 40px !important;
}

.cta-footer p:before {  content: '';
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
     z-index: -1;
    height: 3px;
    background: #f4f4f4;} 
 
.text-box {
  text-align: center;
  font-size: 2.1rem;
  line-height: 1.524;
  color: #333333;
  padding-bottom: 23px; }
  .text-box h2 {
    margin: 0 0 20px;
    font-size: 5.4rem;
    line-height: 1.148;
    text-transform: uppercase;
    font-weight: bold; }
  .text-box p {
    margin: 0 0 35px; }

.rounded {
  border-radius: 40px; }

.main {
  padding: 47px 0; }
  .main .content {
    padding: 25px 15px 23px;
    font-size: 1.3rem;
    line-height: 1.615;
    color: #848e97; }
  .main h3 {
    margin: 0 0 46px;
    font-size: 2.8rem;
    line-height: 1.285;
    font-weight: 300;
    color: #D3D1DA; }
  .main h4 {
    margin: 0 0 12px;
    font-size: 16px;
    line-height: 1.625;
    font-weight: bold; }
    .style-01 .main h4 {
      margin: 0 0 7px; }
  .main p {
    margin: 0 0 23px; }
  .main .date {
    display: block;
    margin: -5px 0 0;
    padding: 0 0 22px; }
  .main .btn-holder {
    padding: 32px 0 0; }


	
.area {
  padding: 77px 0 47px;
  background: #f4f4f4;    border-bottom: 10px solid #f7e296;}
  .area h2 {
    margin: 0 0 28px;
    font-size: 4rem;
    line-height: 1.107;
    font-weight: bold; }

.slide-holder {
  padding: 0 0 0 65px; }
  .slide-holder .img-slide {
    position: relative;
    margin: 0 0 -140px; }
    .slide-holder .img-slide img {
      position: relative;
      top: 0px;
      left: 0px; }









 .column {
  float: left;
  width: 20%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
#foo img {
	border-radius: 15px;
	width: 95%;
	height: 200px;
}

.column img{                                                                                                                                                         
   -webkit-transition: all 1s ease;                                                                                                                                 
}                                                                                                                                                                    
                                                                                                                                                                     
.column:hover img{                                                                                                                                                   
    -webkit-transform: scale(1.2);                                                                                                                                   
} 
