a {
  font-size:200%
}
h1 {
  margin-left:-210px;
  position:absolute;
  font-size: 600%;
  width:410px;
  left:50%; 
  border-bottom: 5px solid green;
  text-shadow: 10px 10px 7px #aaa;
  top: 20%
}
h2 {
  font-size: 200%
  font-family: 'Pacifico', cursive;
  text-shadow: 10px 10px 7px #aaa;
}

#start button{
  height: 40px;
  width: 100px;
  margin: 25px 0px 0px 0px;
  background: lightblue;
}

body {
  height: 400px;
  width: 400px;
  margin: auto;
}   

td {
  margin = 0x;
  padding = 0x;
}

table{
  position:absolute;
  left:50%;
  margin-left:-200px;
  top:35%;
}

.Square{
        height:90px;
        width:90px;
        font-size:50pt;
        text-align:center
        
}

html{
  width:100%;
  height:100%;
  background: rgb(225, 255, 253);
}
